::ng-deep.mat-tab-label {
    color: rgb(255, 255, 255);
}
.main-container{
    padding: 70px 70px;
}
::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    background-color: rgb(5, 0, 82);
    border-radius: 50px;
}
