<div class="main-container">
  <mat-tab-group mat-align-tabs="start" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Mon" >
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Tue">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Wed">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Thu">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Fri">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Sat">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
    <mat-tab label="Sun">
      <app-to-do-list-container></app-to-do-list-container>
    </mat-tab>
  </mat-tab-group>
</div>